.chart-pair {
    background-color: whitesmoke;
}
.left-of-pair {
    width: 600px;
    margin: 10px;
    display: block;
}
.right-of-pair {
    width: 600px;
    background-color: white;
    margin: 10px;
    display: none;
}