.chart-pair {
    display: flex; justify-content: center;width: 100%;background-color: whitesmoke;
}
.left-of-pair {
    width: 50%;
    margin: 10px;
}
.right-of-pair {
    width: 50%; background-color: white;
    margin: 10px;
}